@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap');

html body{
    height: 100%;
    margin: 0;
    font-family: 'Baloo Bhaina 2';
    background-color: rgb(44, 47, 49);
    scrollbar-color: #202324 #454a4d;
    color: #fff;
}
section{
    text-align: center;
    padding: 20px;
    
}
.topNav{
    height: auto;
}
.navPiece{
    width: 25%;
    height:50px;
    display: inline-block;
    margin: 0;
    padding:0;
    text-align: center;
    line-height: 50px;
    background-color: rgb(24, 26, 27);
    margin-left: -2px;
    margin-right: -2px;

}
.navButton:hover{
    background-color: rgb(44, 47, 49); 
}
.g0{
    background-color: rgb(24, 26, 27);
}
.g1{
    background-color: #f5f5f5;
}
.g2{
    background-color: rgb(44, 47, 49);
}
.g3{
    background-color: rgb(71, 77, 80);
}
.rad{
    border-radius: 8px;
}
.half{
    width: 45%;
    margin:2%;
    display: inline-block;
}
.outer{
    height: 450px;
    padding: 5px;
    padding-bottom: 15px;
    display: inline-block;
    vertical-align: top;
    box-shadow: -5px 10px 10px #111;
    box-sizing: border-box;
}
.innerHalf{
    height: 100%;
    vertical-align: bottom;
}

.videoContainerOuter{
    vertical-align: top;
    padding-bottom: 20px;
    height: 340px;
    box-sizing: border-box;
    padding: 10px;
}
.half2{
    width: 45%;
    margin:2%;
    display: inline-block;
}
.textHalf{
    height: 95%;
    vertical-align: top;
    
}
.mainHeader{
    height: 100px;
    font-size: 50px;
    line-height: 100px;
    background-color: #181a1b;
}
.h2{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.whole{
    width: 95%;
    margin: 2%;
}
.codeButton{
    width: 140px;
    height: 50px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    background-color: #fff;
    color: #000;
}
.playButton{
    width: 140px;
    height: 50px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    background-color: coral;
    color: greenyellow;
    color: rgb(10, 236, 254);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.playButton:hover{


}
.center{
    text-align: center;
}
.topSpace{
    height:80px;
}
footer{
    height: 200px;
}
.newSiteOuter{
 background-color: rgb(255, 187, 0);
  border-radius: 5px;
  padding:10px;
  margin: 10px 1.5% 10px 1.5%;
  width: 95%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  box-shadow: 0 0 3px gold;
  overflow: hidden;   
}
.newSiteInner{
    border: 2px solid rgb(12, 12, 12);
  border-radius: 5px;
  min-height: 200px;
  background-color: #1e1e2c;
  color: white;
  box-shadow: 0 1px 10px rgb(21, 10, 59);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:1200px){
    .half{
        width: 95%;
    }
}
@media screen and (max-width:1450px) and (min-width:1200px){
    .playButton{
        width: 40%;

    }
}

@media screen and (max-width:600px){
    .half2{
        width: 95%;
    }
    .outer{
        height: auto;
    }
    .textHalf{
        height: 340px;
    }
    .innerHalf{
        height: 700px;
    }
}
