html{
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: 'Baloo Bhaina 2';    
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.loginHtml{   
    background-image: url("https://raw.githubusercontent.com/joeGiusti/RealEstate/master/CRMDemo/linkBackground.JPEG");
    background-position: center;
    background-size: 100%;    
}
form{    
    height: 300px;
    width: 400px;
    border: 10px black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    right: 50%;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0,0.5);
    transform: translate(+50%, -50%);
}
h1{
    font-size: 50px;
    margin: 0;
    color: white;
}
h2{
    margin: 0;
}
input{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    height: 40px;
    display: block;
}
.buttonClass{
    width: 100px;
    
    font-weight: bold;
    font-size: 20px;    
    display: inline;
    vertical-align: middle;
    margin: 0;
}
.sideNav{
    float: left;
    width: 200px;
    height: 100%;
    background-color: rgb(68, 68, 68);
    margin: 0;
    text-align: center;
}
.sidenavOption{
    width: 100%;
    display: block;
    margin: 0;
    text-decoration: none;
    color: white;
}
.sidenavOption:hover{
    background-color: tomato;
}
.mainSection{
    width: 40%;
    height: 400px;
    border: solid #000;
    border-width: 2px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 20px;
}
.mainSectionTopBar{
    height: 80px;
    font-size: 30px;
    background-color: rgb(144, 144, 224);
}
.topBar{
    height: 100px;
    width: 100%;
    font-size: 50px;
    background-color: rgb(144, 144, 224);
    margin-bottom: 50px;
    
}